<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />


  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <appSettings>
    <add key="nIdSistema" value="5"/>
    <add key="ThrowUnhandledExceptions" value="true"/>
    <add key="CustomLogsFolder" value="C:\CustomLogs\"/>
    <add key="URL_SISTEMA" value="https://declara.ine.mx/"/>
    <add key="RUTA_CORREO_CONFIRMACION" value="C:\INE\DECLARAINE\PLANTILLAS_CORREOS\CONFIRMAR_REGISTRO.txt"/>
    <add key="RUTA_ACTIVACION_CORREO" value="C:\INE\DECLARAINE\PLANTILLAS_CORREOS\ACTIVACION_CORREO.txt"/>
    <add key="RUTA_RECUPERACION_PASS" value="C:\INE\DECLARAINE\PLANTILLAS_CORREOS\RECUPERACION_CORREO.txt"/>
    <add key="lActivaCaptcha" value="false"/>
    <add key="MensajeInicial" value=" "/>
    <add key="CorreoSalida" value="declara.oic@ine.mx"/>
    <add key="ServidorCorreo" value="correo.ife.org.mx"/>
    <add key="PuertoCorreo" value="465"/>
    <add key="CarpetaTransparencia" value="C:\Transparencia\"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>-->
    <!--<add name="cnxDeclara" connectionString="metadata=res://*/ModelDeclara.csdl|res://*/ModelDeclara.ssdl|res://*/ModelDeclara.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.48.111;initial catalog=DECLARA;user id=sa;password=eMnplv,040170584;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="cnxDeclara" connectionString="metadata=res://*/ModelDeclara.csdl|res://*/ModelDeclara.ssdl|res://*/ModelDeclara.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.15.93;initial catalog=DECLARA_DESARROLLO;user id=sa;password=eMnplv,040170584;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="cnxDeclara" connectionString="metadata=res://*/ModelDeclara.csdl|res://*/ModelDeclara.ssdl|res://*/ModelDeclara.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.15.82\ochentaydos;initial catalog=DECLARA;user id=sa;password=eMnplv,040170584;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="execute_pttBinding">
          <security mode="Transport" />
        </binding>
        <binding name="svrSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="fileSoap" maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" closeTimeout="00:25:00" openTimeout="00:20:00" receiveTimeout="00:10:00" sendTimeout="00:25:00">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="6553600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Legacy" maxBufferPoolSize="524288" maxBufferSize="6553600" maxReceivedMessageSize="6553600" closeTimeout="00:25:00" openTimeout="00:20:00" receiveTimeout="00:10:00" sendTimeout="00:25:00">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="6553600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://soapruebas.ine.mx:443/soa-infra/services/default/DeclaraINEv5/declaINEMediator_ep" binding="basicHttpBinding" bindingConfiguration="execute_pttBinding" contract="DEA.execute_ptt" name="execute_pt" />
      <endpoint address="https://svr7.oic.ine.mx/svr.asmx" binding="basicHttpBinding" bindingConfiguration="svrSoap" contract="svr.svrSoap" name="svrSoap" />
      <endpoint address="https://files7.oic.ine.mx/file.asmx" binding="basicHttpBinding" bindingConfiguration="fileSoap" contract="file.fileSoap" name="fileSoap" />
      <endpoint address="http://10.0.48.106/Files/file.asmx" binding="basicHttpBinding" bindingConfiguration="Legacy" contract="Legacy.fileSoap" name="fileSoap1" />
    </client>
  </system.serviceModel>
</configuration>